* {
  font-family: 'Montserrat', sans-serif;
  color: #4A4A4A;
}

a {
 color: #4A90E2;
}

h1 {
  font-weight:bold;
  font-size: 30pt; 
}

.w100 {
  font-weight: 100;
}
.w200 {
  font-weight: 200;
}
.w300 {
  font-weight: 300;
}
.w400 {
  font-weight: 400;
}

body {
   font-size:1.5em;
}


